.b {
	background-color: #C9C0BB;
}

.p {
	font-family: Georgia;
	color: #f2f2f2;
}

.image {
	float: left;
	padding-right:10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:#C9AEAB;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFFEF2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#94575E;
  color: white;
}
